@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #7b88ff;
  height: 8vh;
  letter-spacing: 3px;
}

main {
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {

  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  main{
    margin-left: 10%;
    margin-right: 10%;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #7b88ff;
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease-ain;
  }
  .nav-list li {
    margin-top: 20px;
    opacity: 0;
    font-size: 20px
    
  }
  .mobile-menu {
    display: block;
  }

  header {
    flex-direction:column-reverse;
    align-items: center;
  }
  .titulo {
      display: flex;
      align-items: center;
      gap: 5px;
  }
  header img {
    max-width:100%;
    height:auto;
  }
  li {
      margin: 10px;
  }

  .container{
    flex-direction: column;
  }

  .imagem img{
    max-width: 500px;  
    justify-content: center;
  }

  .importancia{
    flex-direction: column;
  }

  .motv img{
    max-width: 100%;
  }

}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.titulo{
  display: flex;
  font-weight: bold;
  gap: 10px;
  align-items: center;
}

.titulo img{
  width: 70px;
}

.titulo h1{
  font-weight: 200;
  color: white
}

#consultas{
  border: 2px solid rgba(65, 33, 247, 0.801);
  padding: 10px;
  border-radius: 15px;
}

#consultas:hover{
  background-color: rgba(65, 33, 247, 0.801);
  color: white;
}

a{
  color: rgb(250, 248, 248);
}

a:hover{
  color: rgba(65, 33, 247, 0.801);
  transition: 0.3s all;
}

.container{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 50px;

}

h2{
  font-size: 50px;
  line-height: 50px;
  color: black
}

span{
  color:  rgba(65, 33, 247, 0.801);
}

.principal p{
  line-height: 20px;
  max-width: 500px;
  font-family: poppinslight;
  text-align: justify;
}

.imagem img{
  width: 700px;
}

form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type = "text"] {
  border: 2px solid rgba(65, 33, 247, 0.801)
}

form [type = "email"] {
  border: 2px solid rgba(65, 33, 247, 0.801)
}

form [type="datetime-local"] {
  border: 2px solid rgba(65, 33, 247, 0.801)

}

form [type="submit"]{
  height: 50px;
  width: 50%;
  background-color: rgba(65, 33, 247, 0.801);
  color: white;
  font-weight: bold;
}
form [type="submit"]:hover{
  background-color: white;
  color: rgba(65, 33, 247, 0.801);
  border: 2px solid rgba(65, 33, 247, 0.801)
  
}

input{
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}

.part2{
  margin-top: 10%;
  justify-content: center;
}

.importancia{
  justify-content:center;
  display: flex;
  padding: 5%;
  gap: 30px;
}

.part2 p{
  margin-top: 5%;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 1px;
}

.importancia p{
  font-size: 15px;
}

.motv{
  background-color: #7b88ff;
  border-radius: 100%;
  max-width: 100px;
  margin: auto;
}

.descrc{
  margin: auto;
  width: 80%;
}

.motv img{
  width: 100px;
}

